.game-container {

    position: relative;
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    animation-name: games;
    animation-duration: 3s;

}


@keyframes games {
    0% {

        translate: -400px 0px;
       opacity: 0;
    }



    100% {
        translate: 0 0;
        rotate: 0deg;
        opacity: 1;

    }

}