/* define the primary colors */
:root {

    --box-shadow: 0 0 5px cyan, 0 0 5px cyan;
    --gradeint-gray: rgba(255, 255, 255, 0.32);
    --gradient-blue: rgba(0, 0, 255, 0.373);
    --gradient-black: rgba(2, 0, 0, 0.617);
    --text-white: white;
    --gradient-purple: rgba(136, 0, 136, 0.764);
    --link-shadow: 0 0 10px white;
    --dark-blue: rgb(0, 16, 76);
}


.card-container {

    width: 350px;
    height: 500px;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px gray;
    border-radius: 2rem;
    animation-name: card-game;


}

/* containt fron,back card */
.inner-container{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; 
    transition: transform 0.6s;
}


.card-container:hover .inner-container{
    transform: rotateY(180deg)
}


.front-card , .back-card{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

/* back card */
.back-card{
    background: linear-gradient(to right , var(--dark-blue),var(--gradeint-gray)) ;
    color: white;
    transform: rotateY(180deg);
  z-index: 10;
    border-radius: 1.6rem;

}

/* style back card whit gradient bg */
.back-card .card-overlay{
    position: absolute;
    bottom: 0.4rem;
    width: 97%;
    height: 98%;
    background:linear-gradient(to right, var(--dark-blue), var(--gradeint-gray) , var(--dark-blue) );
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    border-radius: 1.6rem;  
   
}

/* game title */
.card-container h1 {
    z-index: 2;
    position: absolute;
    width: 96%;
    top: 0.4rem;
    left: 50%;
    transform: translatex(-50%);
    background-color: var(--gradeint-gray);
    color: var(--gradient-black);
    text-shadow: var(--link-shadow);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    padding-top: 0.5rem;
}

.dark .card-container h1{
    color: var(--text-white);
    background-color: var(--gradient-blue);

}

/* image style */
.card-container .image-card {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 0.4rem solid white  ;

    border-radius: 2rem;

}

.dark .image-card {
    border: 0.4rem solid var(--dark-blue)  ;
}


/* style information in card */
.card-overlay {
    position: absolute;
    bottom: 0.4rem;
    left: 50%;
    transform:  translateX(-50%);

    width: 96%;
    height: 30%;
    background-color: var(--gradeint-gray);
    color: var(--text-white);
    display: flex;
    flex-direction: column-reverse;
    padding: 0 5px;
    align-items: center;
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;

}

.dark .card-overlay{
    background-color: var(--gradient-blue);

}


/* discraption section */
.disc {
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    color: var(--gradient-black);
    align-items: start;
    gap: 6rem;
    text-shadow:var(--link-shadow);
}

.dark .disc{
    color: var(--text-white);
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    size: 2rem;
}


/* platform style
 */
.icons {
    position: absolute;
    bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    mask-border-mode: alpha;
    gap: 10px;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    left: 50%;
    transform: translatex(-50%);
}
.dark .icons{
    background-color: var(--dark-blue);
}


/* detail button */
.back-card .card-overlay .card-button {
    box-shadow:var(--box-shadow);
    border-radius: 15px;
    animation-name: button;
    z-index: 3;
    font-size: 1.8rem;
    color: white;
    width: 250px;
    height: 50px;
    margin: 2rem;
    animation-duration: 2 s;
    background: none;
    
}




.card-button :hover{
   box-shadow: var(--box-shadow) , var(--box-shadow) , var(--box-shadow);
}

/* animation when page load */
@keyframes card-game {
    0% {

        translate: 0 400px;
        rotate: 5deg;
    }



    100% {
        translate: 0 0;
        rotate: 0deg;

    }

}