/* define gloabal variable for style */
:root {

    --box-shadow: 0 0 5px cyan;
    --gradeint-gray: rgba(255, 255, 255, 0.32);
    --gradient-blue: rgba(0, 0, 255, 0.373);
    --gradient-black: rgba(2, 0, 0, 0.617);
    --text-white: white;
    --gradient-purple: rgba(136, 0, 136, 0.764);
    --link-shadow: 0 0 10px white;
    --dark-blue: rgb(0, 16, 76);
}

.genre-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 2rem;
}

/* style of one card */
.genre {
    width: 120px;
    height: 140px;
    background:var(--gradeint-gray);
    backdrop-filter: blur(10px);
    border: 1px solid var(--gradeint-gray);
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: var(--gradient-black);
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    /* animation state */
    animation-name: genre;
    animation-duration: 2s;
    opacity: 1;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


/* add hover to optomize style */
.genre:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px var(--gradeint-gray);
}


/* image style in genre card */
.genre img {
    width: 100px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* taggle button for mini screens */
.genre-switch{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* mobile genre container */
.mobile-genre{
    width: 350px;
    height: 1000px;
    z-index: 15;
    position: absolute;
    top: 30%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    border-radius: 8px;
    transform: translateX(-50%);
    background-color: var(--gradient-purple);
   
    
}
.dark .mobile-genre{
    background-color: var(--gradient-black); 
}

/* mobile card sizes */
.mobile-genre .genre{
    width: 80px;
    height: 100px;
    color: var(--text-white);
    
}


@media (max-width: 768px) {
    .genre-container {
      display: none;
    }
}

/* animation */
@keyframes genre {
    0% {

        translate: 0px 200px;
       opacity: 0;
    }



    100% {
        translate: 0 0;
        rotate: 0deg;
        opacity: 1;

    }

}
