/* style the background for main content */
.ovelay-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(209, 209, 209), rgb(243, 206, 246));
    padding-top: 150px;
    width: 100%;

}

/* for dark mode */
.dark .ovelay-main-content {
    background: linear-gradient(to left, #2d284a, #00044b);

}