:root {

    --box-shadow: 0 0 5px white, 0 0 5px white;
--gradeint-gray: rgba(255, 255, 255, 0.32);
    /* dark mode */
  --gradient-blue :  rgba(0, 0, 255, 0.373) ;
--gradient-black:  rgba(2, 0, 0, 0.617);
--text-white: white;
--gradient-purple : rgba(136, 0, 136, 0.764) ;
--link-shadow :  0 0 10px white;
}

.navbar {
    background: linear-gradient(to right, var(--gradient-purple), var(--gradeint-gray));
    width: 100%;
    top: 0;
    max-height: 250px;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 7px var(--gradeint-gray);

}
.logo{
    padding: 0;
    margin: 0;
    width:7rem;
}
.dark .navbar{
    background: linear-gradient(to right,var(--gradient-blue), var(--gradeint-gray));
  
}

.container-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}



.nav-switch {
    display: block;
    color: var(--text-white);
    font-size: 30px;
    padding:0 10px;

}

.links {
display: flex;
gap: 1rem;
align-items: center;
    color: var(--text-white);
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.links :hover {

    text-shadow: var(--link-shadow) , var(--link-shadow);

}

.links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--text-white);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.links:hover::after {
    transform: scaleX(1);
}


.mobile-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background: linear-gradient(to bottom, #f0f0f0dc , var(--gradient-purple));
    display: flex;
    margin-top: 7rem;
    gap: 2rem;
    
    flex-direction: column;
align-items: center;
border-radius: 0 5px 5px 5px;
box-shadow: 0 px 7px rgb(170, 170, 170);
animation-name: mobile-menu;
animation-duration: 1s;


    
}
.mobile-menu .links{
    color:#16213e;
}
.dark .mobile-menu .links{
     color: rgba(211, 209, 209, 0.904);
}
.dark .mobile-menu{
   
    background: linear-gradient(to right, #1a1a2eb5, #16213e) 
    /* background: linear-gradient(to right, purple, rgb(0, 0, 188)); */
}



@keyframes mobile-menu {
    0% {

        translate: -300px 0;
        appearance: 1;
      
    }

    

}

@media screen and (max-width: 768px) {
    .container-links {
        display: none;
    }
    .nav-switch{
        display: block;

    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width:768) {
    .nav-switch {
        display: none;
    }
   
}