
:root {

    --box-shadow: 0 0 5px cyan, 0 0 5px cyan;
--gradeint-gray: rgba(255, 255, 255, 0.22);
    /* dark mode */
  --gradient-blue :  rgba(0, 0, 255, 0.373) ;
--gradient-black:  rgba(2, 0, 0, 0.617);
--dark-blue:rgb(0, 16, 76);
--text-white: white;
}

.searchIcon{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-white);
}

.search-input{
    border-radius: 15px;
    height: 2.5rem;
    padding: 0.5rem;
    outline: none;
    color: gray;
    animation-name: searchInput;
    animation-duration: 1s;
}
.dark .search-input{
    background-color:var(--dark-blue);
}

@keyframes searchInput {
    0%{
        opacity: 0;
        translate: 0 20px;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}